body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
 
  .tracking-list-container {
    width: 90%;
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.05);
    font-family: 'Segoe UI', sans-serif;
  }
 


  .tracking-actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 20px;
  }
 
  .tracking-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
  }
 
  .tracking-table th,
  .tracking-table td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
  }
 
  .status-badge {
    padding: 6px 10px;
    border-radius: 12px;
    font-size: 13px;
  }
 
  .status-badge.Đã\ uống {
    background: #dcfce7;
    color: #16a34a;
  }
 
  .status-badge.Quên {
    background: #fee2e2;
    color: #dc2626;
  }
 
  .status-badge.Trễ {
    background: #fef9c3;
    color: #92400e;
  }
 
  .priority-badge {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 13px;
  }
 
  .priority-badge.Cao {
    background: #fee2e2;
    color: #b91c1c;
    font-weight: 600;
  }
 
  .priority-badge.Trung\ bình {
    background: #e0f2fe;
    color: #2563eb;
  }
 
  .priority-badge.Thấp {
    background: #f0fdf4;
    color: #15803d;
  }
 
  .btn {
    padding: 8px 12px;
    margin-right: 6px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background: #f3f4f6;
  }
 
  .btn.red {
    background: #e11d48;
    color: white;
  }
 
  .tracking-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 20px;
  }
 
  .tracking-header h2 {
    margin: 0;
    font-size: 22px;
  }
 
  .tracking-header p {
    margin: 0;
    color: #666;
  }
 
  .tracking-actions input,
  .tracking-actions select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-right: 8px;
  }
 
  .patients-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 20px;
}


.patients-header h2 {
  margin: 0;
  font-size: 22px;
}


.patients-header p {
  margin: 0;
  color: #666;
}


.patients-actions input,
.patients-actions select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-right: 8px;
}
